.thumb {
  height: 25px;
  width: 25px;
  background-color: #4caf50;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.horizontal-slider {
  background-color: #000;
  height: 20px;
}

.track {
  background: #ccc;
  height: 20px;
}


.track-1 {
  background: blue;
  height: 20px;
}